@page
@model IndexModel
@{
    ViewData["Title"] = "Menu Sala Vip";
}

<div>
    <img class="d-block mx-auto mb-4" src="https://www.aeropuertosvipclub.com.ar/imgs/logo-1x.png" alt="" width="140px">
</div>

<form method="post" id="myForm" class="needs-validation" novalidate>

<div class="">
        @{

            @if (@Model.pedidos.Equals(""))
            {
                <div class="jumbotron">
                    
                    <h5 class="text-gold">Seleccione del menu siguiente lo que decea ordenar.</h5>
                    <spam class="text-gold">
                        <br>
                        <small class="text-muted">
                            Select from the following menu what you want to eat.
                        </small>
                        <br>
                        <small class="text-muted">
                            Selecione no menu seguinte o que você deseja comer.
                        </small>
                    </spam>
                </div>

                int counter = 0;

                @foreach (var type in Model.types)
                {

                    <h4 class="text-gold">@Html.DisplayFor(modelItem => type.titulo_es)</h4>
                    <p class="text-muted">@Html.DisplayFor(modelItem => type.titulo_en) ・ @Html.DisplayFor(modelItem => type.titulo_pt) </p>

                    <ul class="list-group mb-3">
                    @foreach (var item in type.items)
                    {
                        <li class="list-group-item bg-light d-flex justify-content-between lh-condensed">
                        <div>
                            <h5 class="my-0">@Html.DisplayFor(modelItem => item.titulo_es)</h5>
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.titulo_en) ・ </small>
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.titulo_pt)</small>
                        </div>

                        <spam style="width:120px;"><input id="selected_@counter" name="@Html.DisplayFor(modelItem => item.titulo_es)" type="number" value="0" min="0" max="20" step="1"/></spam>
                        </li>
                        counter = counter + 1;
                    }
                    </ul>
                }

                <div>
                    <button type="button" onclick="armarOrden();" class="btn btn-gold btn-lg btn-block" >Ok</button>
                </div>
            }
            else
            {
                <p>@Html.Raw(Model.pedidos)</p>
                <div>
                    <button type="button" onclick="window.location='https://www.aeropuertosvipclub.com.ar/';"  class="btn btn-success btn-lg btn-block" >OK!</button>
                </div>
            }
        }
        <p></p>
        <input type="text" style="visibility: hidden;" id="pedidos" class="form-control" asp-for="pedidos" placeholder="">
</div>
</form>

<script>
    $("input[type='number']").inputSpinner()
</script>

<script>
    function armarOrden()
    {
        var pd = "";
        
        $('[id^=selected_]').each(function() {
            var name = $(this).attr('name');
            var value =  $(this).val();

            if (value>0)
            {   
                pd = pd + name + ": " + value + " # ";
            }
        });

        $('#pedidos').val(pd); 
        console.log($('#pedidos').val());

        document.getElementById("myForm").submit();
        
    }
</script>