@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<form method="post" id="myForm" class="needs-validation" novalidate>
<div class="order-md-2 mb-4">
    @if (@Model.ordersD.order.Count > 0)
    {
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Ordenes pendientes</span>
        </h4>

        <ul class="list-group mb-3">
            @foreach (var o in @Model.ordersD.order)
            {
                <li class="bg-light border rounded list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h3 class="my-0 text-dark">Mesa @Html.DisplayFor(modelItem => o.mesa)</h3>
                        <h6 class="my-2 text-muted">@Html.Raw(o.orden)</h6>
                        <h5><span class="my-1 badge badge-secondary">@Html.DisplayFor(modelItem => o.fecha_hora)</span></h5>
                    </div>
                    <div>
                        <button type="button" onclick="eliminar(@Html.Raw(o.mesa));" class="btn btn-success">Entregado</button>
                    </div>
                </li>
                <br>
            }
        </ul>
    }
</div>
<input type="text" style="visibility: hidden;" id="idMesa" class="form-control" asp-for="idMesa" placeholder="">
</form>

<script>
    function eliminar(id)
    {
        var r = confirm("Seguro quiere confirmar la entrega de la orden para la mesa Nro. " + id + "?" );
        
        if (r == true) {
            $('#idMesa').val(id); 
            document.getElementById("myForm").submit();
        } 
    }
</script>
